/*********** assortment *************/
.assortment {
  margin-bottom: 118px;

  &__title {
    margin-bottom: 60px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    font-feature-settings: "pnum" on, "lnum" on;
    padding: 0 102px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    grid-template-rows: repeat(7, minmax(438px, 1fr));
    justify-items: center;
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: 438px;
  }

  &__mobile {
    display: none;
  }

  &__card {
    padding: 22px 22px 0 22px;
    width: 590px;
    color: $lightColor;
    background-color: $pastelBgColor4;
    overflow: hidden;
    border: 2px solid transparent;

    &.assortment {
      &__card-bright1 {
        background-color: $brightBgColor1;
      }

      &__card-bright2 {
        background-color: $brightBgColor2;
      }

      &__card-bright3 {
        background-color: $brightBgColor3;
      }

      &__card-bright4 {
        background-color: $brightBgColor4;
      }

      &__card-bright5 {
        background-color: $brightBgColor5;
      }

      &__card-bright6 {
        background-color: $brightBgColor6;
      }

      &__card-bright7 {
        background-color: $brightBgColor7;
      }

      &__card-bright8 {
        background-color: $brightBgColor8;
      }

      &__card-pastel1 {
        background-color: $pastelBgColor1;
      }

      &__card-pastel2 {
        background-color: $pastelBgColor2;
      }

      &__card-pastel3 {
        background-color: $pastelBgColor3;
      }

      &__card-pastel4 {
        background-color: $pastelBgColor4;
      }

      &__card-monochrome1 {
        background-color: $monochromeBgColor1;
      }

      &__card-monochrome2 {
        background-color: $monochromeBgColor2;
      }

      &__card-monochrome3 {
        background-color: $monochromeBgColor3;
      }
    }

    &.active {
      border-color: #000;

      .assortment {
        &__card-bin-btn {
          display: flex;
        }

        &__card-link {
          display: inline-flex;
        }
      }
    }
  }

  &__card-content-wrapper {
    display: flex;
  }

  &__card-content {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 347px;
  }

  &__card-title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    font-feature-settings: "pnum" on, "lnum" on;
    margin-bottom: 12px;
  }

  &__card-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }

  .al-cost-promo {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: $darkColor;
    opacity: 0.2;
    position: relative;
    margin-bottom: 5px;
  }

  &__cost-promo-line {
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: $darkTransparentColor;
    transform: rotate(-25deg);
    top: 50%;
    right: 0;
  }

  &__card-sizes-wrapper {
    display: flex;
  }

  &__card-sizes-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    margin-right: 12px;
  }

  &__card-sizes {
    max-width: 154px;
    display: flex;
    flex-wrap: wrap;

    span {
      font-size: 14px;
      display: inline-block;
      line-height: 24px;
      cursor: pointer;
      padding: 0 3px;

      &:hover,
      &.active {
        font-weight: bold;
      }
    }
  }

  &__card-count-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__card-count-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-right: 14px;
  }

  &__card-count {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background: $lightBgColor1;
    border-radius: 2px;
    text-align: center;
    color: $darkColor;
    vertical-align: middle;

    span {
      display: inline-block;
      padding: 0 6px;
      text-align: center;

      &.assortment__card-count-subtract {
        min-width: 16px;
        padding: 0 2.5px;
        font-size: 19px;
        cursor: pointer;
      }

      &.assortment__card-count-number {
        border-radius: 2px;
        background-color: $lightColor;
        min-width: 20px;
      }

      &.assortment__card-count-add {
        min-width: 16px;
        padding: 0 4px;
        cursor: pointer;
      }
    }
  }

  .al-cost {
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
    font-feature-settings: "pnum" on, "lnum" on;
    margin-bottom: 7px;
  }

  &__card-footer {
    display: flex;
    align-items: center;
  }

  &__card-btn-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: $lightColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.5px;
    height: 42.5px;
    border-radius: 50%;
    transition: 0.3s;
  }

  &__card-btn-img {
    display: inline-block;
    object-fit: contain;
    height: 22px;
    width: auto;
  }

  .button-action {
    max-width: 160px;
    padding-left: 23px;
    margin-right: 40px;
    display: inline-block;

    &:visited .assortment__card-btn-icon {
      background-color: $lightColor;
    }

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      .assortment__card-btn-icon {
        background-color: $btnColor;
      }
    }
  }

  &__card-bin-btn-img {
    display: inline-block;
    object-fit: contain;
    height: 23px;
    width: auto;

    .stroke {
      stroke: $darkColor;
      transition: 0.3s;
    }
  }

  &__card-bin-btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $lightColor;
    //display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border: 2px solid $lightColor;
      background-color: $lightTextColor;

      .assortment__card-bin-btn-img {
        .stroke {
          stroke: $lightColor;
        }
      }
    }
  }

  &__card-link-text {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-right: 16px;
    transition: 0.3s;
    min-width: 187px;
  }

  &__card-link {
    vertical-align: middle;
    //display: inline-flex;
    display: none;
    align-items: center;
    transition: 0.3s;
    color: $lightColor;

    .link-arrow {
      display: inline-block;
      position: relative;
      width: 17px;
      height: 12px;
      background: transparent url("../img/svg/arrow-right.svg") 50% 50% /
        contain no-repeat;
      transition: 0.3s;
      //margin-left: 0;
    }

    &:visited {
      color: $lightColor;

      .assortment__card-link-text {
        font-weight: 300;
      }

      .link-arrow {
        //margin-left: 0;
        background: transparent url("../img/svg/arrow-right.svg") 50% 50% /
          contain no-repeat;
      }
    }

    &:hover,
    &:active {
      color: $lightColor;

      .assortment__card-link-text {
        font-weight: bold;
      }

      .link-arrow {
        //margin-left: 9px;
        background: transparent url("../img/svg/arrow-right-hovered.svg") 50%
          50% / contain no-repeat;
      }
    }
  }

  &__card-img {
    width: 265px;
    height: auto;
    object-fit: contain;
    display: inline-block;
    flex-shrink: 0;
  }
}

// max 991.9px
@media screen and (max-width: $lg) {
  .assortment {
    margin-bottom: 88px;

    &__title {
      padding: 0 20px;
    }

    &__subtitle {
      font-family: $font-family;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.02em;
      font-feature-settings: "pnum" on, "lnum" on;
      color: $lightTextColor;
      margin-bottom: 9px;
      padding: 0 20px;
    }

    .container {
      display: none;

      &.assortment__container-mobile {
        display: block;

        &:nth-child(3) {
          padding-top: 49px;
        }

        &:nth-child(5) {
          padding-top: 49px;
        }
      }
    }

    &__mobile {
      display: block;
    }

    &__container-mobile {
      display: block;
    }

    &__card {
      padding: 10px 21px 0 19px;
      width: 100%;
    }

    &__card-content {
      max-width: none;
      display: block;
      height: auto;
    }

    &__card-title {
      font-size: 20px;
    }

    &__card-text {
      margin-bottom: 29px;
    }

    &__card-content-main {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 8px;
    }

    &__cost-wrapper {
      margin-right: 38px;
    }

    .al-cost-promo {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 7px;
    }

    &__cost-promo-line {
      height: 2px;
    }

    &__card-sizes-wrapper {
      margin-bottom: 11px;
    }

    &__card-sizes-text {
      line-height: 26px;
      margin-right: 10px;
    }

    &__card-sizes {
      max-width: none;

      span {
        font-size: 16px;
        line-height: 28px;
        padding: 0 6px;
      }
    }

    &__card-count-wrapper {
      margin-bottom: 20px;
    }

    &__card-count-text {
      margin-right: 10px;
    }

    &__card-count {
      font-size: 20px;
      line-height: 28px;
      height: 28px;
      border-radius: 3px;

      span {
        padding: 0 9px;
        text-align: center;

        &.assortment__card-count-subtract {
          min-width: 32px;
          padding: 0;
          font-size: 28px;
        }

        &.assortment__card-count-number {
          border-radius: 3px;
          min-width: 31px;
        }

        &.assortment__card-count-add {
          min-width: 32px;
          padding: 0;
        }
      }
    }

    .al-cost {
      font-weight: 900;
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 0;
    }

    &__card-footer {
      justify-content: space-between;
      margin-bottom: 11px;
    }

    .button-action {
      margin-right: 0;
    }

    &__card-bin-btn {
      //display: flex;
      display: none;
      margin-right: 0;
    }

    &__card-link-wrapper {
      min-height: 22px;
      margin-bottom: 9px;
    }

    &__card-link-text {
      font-size: 14px;
      margin-right: 14px;
      min-width: 0;
    }

    &__card-link {
      //display: inline-flex;
      display: none;

      //  .link-arrow {
      //    //margin-left: 0;
      //  }

      //  &:visited {
      //    .link-arrow {
      //      //margin-left: 0;
      //    }
      //  }

      //  &:hover,  &:active {
      //    .link-arrow {
      //      //margin-left: 9px;
      //    }
      //  }
    }

    &__card-img {
      width: auto;
      height: 210px;
    }

    ul.slick-dots {
      display: inline-flex;
      height: 100%;
      position: absolute;
      bottom: -23px;
      left: 50%;
      transform: translateX(-50%);
      z-index: $productSlideDots;
      max-height: 18px;
    }

    ul.slick-dots li {
      width: 6px;
      margin-right: 8px;
      transition: 0.3s;

      &:last-of-type {
        margin-right: 0;
      }

      button {
        font-size: 0;
        background-color: $lightTextColor;
        opacity: 0.5;
        border-radius: 50%;
        width: 100%;
        height: 6px;
        line-height: 6px;
        color: transparent;
        transition: 0.3s;

        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
          background-color: $brightBgColor6;
          opacity: 1;
        }
      }

      &.slick-active {
        width: 8px;
        margin-right: 8px;

        button {
          height: 8px;
          line-height: 8px;
          background-color: $brightBgColor6;
          opacity: 1;
        }
      }
    }
  }
}

// max 767.9px
@media screen and (max-width: $md) {
  .assortment {
    &__title {
      margin-bottom: 20px;
    }

    &__card-title {
      margin-bottom: 9px;
    }

    &__card-text {
      display: none;
    }

    &__card-link-wrapper {
      text-align: center;
    }
  }
}

// max 575.9px
@media screen and (max-width: $xs) {
  .assortment {
    &__title {
      font-size: 24px;
      line-height: 32px;
    }

    &__card-link-text {
      font-size: 14px;
    }
}
}

@media screen and (max-width: 413.9px) {
  .assortment{
    &__card-content-main {
    justify-content: space-between;
}
&__cost-wrapper {
  margin-right: 0;
}
  }
}

// max 359.9px
@media screen and (max-width: $xxs) {
  .assortment {
    &__title {
      padding: 0;
    }
    &__subtitle {
      padding: 0;
    }
    &__card {
      min-height: 504px;
    }
    &__card-content {
      min-height: 406px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__card-content-main {
      position: relative;
      justify-content: flex-end;
  }

  &__cost-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
}
  }
}

/********* assortment END ***********/
