/*********** BURGER NAVBAR *************/
.burger-menu {
  display: none;
}

// max 991.9px
@media screen and (max-width: $lg) {
  .burger-menu {
    display: none;
    padding-top: 94px;
    background-color: $mainColor;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $nav;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__link {
      display: inline-block;
      color: $darkColor;
      font-weight: 300;
      font-size: 20px;
      line-height: 60px;
      transition: color .3s ease 0s;

      &:visited {
        color: $darkColor;
      }

      &:hover, &:active {
        color: $lightColor;
      }
    }
  }
}
/********** BURGER NAVBAR END **********/