/*********** ORDER *************/
.order {
  padding-top: 99px;

  .container {
    padding: 0 102px;
  }

  &__title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    font-feature-settings: "pnum" on, "lnum" on;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: $lightTextColor;
    margin-bottom: 22px;
  }

  &__total-number {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 46px;

    span:first-child {
      margin-right: 18px;
    }

    span:last-child {
      font-weight: bold;
    }
  }

  &__gift {
    padding: 10px 180px 13px 131px;
    background-color: $btnColor;
    position: relative;
    margin-bottom: 58px;
  }

  &__gift-title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 3px;
  }

  &__gift-title-won {
    display: none;
  }

  &__gift-text {
    display: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  &__gift-img {
    width: 107px;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 6px;
    top: -23px;
  }

  .main__button.order__gift-button {
    background-color: $brightBgColor6;
    border: 2px solid $lightColor;
  }

  .main__button-wrapper.order__gift-button-wrapper {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 117px;
    height: 117px;

    &:hover,
    &:focus,
    &:active {
      .main__button-arrow {
        background-color: $brightBgColor6;
      }
    }
  }

  &__gift.won {
    padding: 20px 20px 13px 131px;

    .order {
      &__gift-title {
        display: none;
      }

      &__gift-title-won {
        display: block;
        margin-bottom: 5px;
        font-family: $font-family;
        font-weight: bold;
        font-size: 28px;
      }

      &__gift-text {
        display: block;
      }

      &__gift-button-wrapper {
        display: none;
      }
    }
  }

  &__table-title {
    display: flex;
    margin-bottom: 13px;
  }

  &__table-title0 {
    width: 10%;
  }

  &__table-title1 {
    width: 29%;
  }

  &__table-title2 {
    width: 20%;

    p {
      padding-right: 40%;
      text-align: center;
    }
  }

  &__table-title3 {
    width: 16%;
    padding-left: 18px;
    flex-shrink: 0;
    min-width: 155px;
  }

  &__table-title4 {
    width: 15%;
    padding-left: 20px;
  }

  &__table-title5 {
    width: 10%;
  }

  &__table-row {
    border-bottom: 1px solid $lightTextTransparentColor;
    padding-bottom: 26px;
  }

  &__table-row-first {
    display: flex;
    align-items: center;
    padding-top: 22px;
  }

  &__table-row-same {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 7px;

    .order {
      &__table-add-btn {
        display: none;
      }

      &__table-product-img {
        display: none;
      }

      &__table-product-title {
        display: none;
      }
    }
  }

  &__table-column1 {
    width: 10%;
  }

  &__table-add-icon {
    background-color: $lightTransparentColor;
    height: 13.5px;
    position: relative;
    width: 2px;

    &:after {
      background-color: $lightTransparentColor;
      content: "";
      height: 2px;
      left: -5.5px;
      position: absolute;
      top: 6px;
      width: 13.5px;
    }
  }

  &__table-add-btn {
    width: 46px;
    height: 46px;
    background-color: $lightTransparentColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $lightTextColor;

      .order__table-add-icon {
        background-color: $lightColor;

        &:after {
          background-color: $lightColor;
        }
      }
    }
  }

  &__table-column2 {
    width: 29%;
    display: flex;
    align-items: center;
  }

  &__table-product-img {
    display: inline-block;
    margin-right: 33px;
    height: 71px;
    width: auto;
    object-fit: contain;
  }

  &__table-product-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }

  &__table-column-group {
    width: 51%;
    display: flex;
    align-items: center;
  }

  &__table-column3 {
    width: 40%;
    font-size: 18px;
    line-height: 20px;

    p {
      padding-right: 40%;
      text-align: center;
      vertical-align: middle;

      span:first-child {
        display: none;
      }
    }
  }

  &__table-column4 {
    width: 31%;
    flex-shrink: 0;
    min-width: 155px;
    position: relative;
  }

  &__table-column4-content {
    z-index: $cartText;
    position: absolute;
    top: -12px;
    left: 0;

    & > span:first-child {
      display: none;
    }
  }

  &__table-product-size {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-right: 7px;
    cursor: pointer;
  }

  &__table-arrow-down-img {
    object-fit: contain;
    cursor: pointer;

    .stroke {
      stroke: $darkColor;
    }

    &:hover {
      .stroke {
        stroke: $mainColor;
      }
    }
  }

  &__table-product-sizes-wrapper {
    position: absolute;
    display: none;
    width: 155px;
    padding: 25px 0 7px 8px;
    top: -12px;
    left: -7px;
    background-color: $lightBgColor;
  }

  &__table-product-sizes {
    display: flex;
    flex-wrap: wrap;
  }

  &__table-product-size-item {
    cursor: pointer;
    margin-right: 6px;
    font-size: 14px;
    line-height: 24px;
    color: $lightTextColor;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  &__no_size-err {
    display: none;
  }

  &__table-subrow.sizes-shown {
    padding-bottom: 24px;

    .order {
      &__table-product-sizes-wrapper {
        display: block;
      }

      &__table-arrow-down-img {
        transform: rotate(180deg);
      }
    }
  }

  &__table-subrow.sizes-shown.error {
    padding-bottom: 85px;

    .order {
      &__table-column1 {
        align-self: center;
      }

      &__table-column2 {
        align-self: center;
      }

      &__table-column3 {
        align-self: center;
      }

      &__table-column4 {
        display: flex;
        align-items: flex-end;
      }

      &__table-column4-content {
        color: $errorColor;

        .stroke {
          stroke: $errorColor;
        }

        &:hover {
          .stroke {
            stroke: $errorColor;
          }
        }
      }

      &__table-product-sizes-wrapper {
        border: 1px solid $errorColor;
      }

      &__no_size-err {
        display: block;
        position: absolute;
        left: 0;
        top: 80px;
        font-weight: 300;
        font-size: 18px;
        color: $errorColor;
      }

      &__table-column5 {
        align-self: center;
      }

      &__table-column6 {
        align-self: center;
      }
    }

    &.order__table-row-same {
      padding-bottom: 94px;
    }
  }

  &__table-column5 {
    width: 29%;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-left: 24px;

    span:first-child {
      display: none;
    }
  }

  &__table-column6 {
    width: 10%;
    display: flex;
    justify-content: flex-end;
  }

  &__table-bin-btn {
    width: 46px;
    height: 46px;
    background-color: $lightTransparentColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .stroke {
      stroke: rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background-color: $lightTextColor;

      .order__table-bin-img .stroke {
        stroke: $lightColor;
      }
    }
  }

  &__table-bin-img {
    display: inline-block;
    object-fit: contain;
    height: 23px;
    width: auto;
  }

  &__total-promo {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $lightTextColor;
    border-top: 1px solid rgba(166, 144, 124, 0.4);
    padding-top: 33px;
    margin-bottom: 9px;

    span:first-child {
      margin-right: 18px;
    }

    span:last-child {
      font-weight: bold;
      color: $lightTextColor;
      opacity: 0.5;
    }
  }

  &__total {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;

    span:first-child {
      margin-right: 18px;
    }

    span:last-child {
      font-weight: bold;
    }
  }

  &__empty-cart-err-wrapper {
    min-height: 24px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $errorColor;
    margin-bottom: 30px;

    p {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 84px;
  }

  &__input-name {
    position: relative;
    margin-right: 20px;
    min-width: 285px;
    margin-bottom: 35px;
  }

  &__input-phone {
    position: relative;
    margin-right: 20px;
    min-width: 285px;
    margin-bottom: 35px;
  }

  &__input-name input.error,
  &__input-phone input.error {
    border-color: $errorColor;
    & + .order__input-label {
      display: block;
    }
  }

  &__input-label {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 18px;
    line-height: 1.333333;
    font-weight: 300;
    margin-top: 7px;
    color: $errorColor;
    display: none;
  }

  &__form-btn {
    max-width: 207px;
    margin-bottom: 24px;
    height: 62px;

    &.disabled {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: not-allowed;
    }

    &:not(.disabled) {
      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        background-color: $mainColor;
      }
    }
  }
}

// max 991.9px
@media screen and (max-width: $lg) {
  .order {
    padding-top: 49px;

    .container {
      padding: 0 20px;
    }

    .main__button-wrapper.order__gift-button-wrapper,
    .main__button-wrapper.order__gift-button-wrapper:visited {
      .main__button-arrow {
        background-color: $brightBgColor6;
      }
    }
  }
}

// max 767.9px
@media screen and (max-width: $md) {
  .order {
    &__table-title {
      display: none;
    }

    &__table-row {
      padding-bottom: 0;
      border-bottom: 0 solid transparent;
    }

    &__table-subrow {
      position: relative;
      padding-right: 40px;
      border-bottom: 1px solid rgba(166, 144, 124, 0.2);
    }

    &__table-row-first {
      display: block;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &__table-row-same {
      display: block;
      padding-bottom: 12px;
      padding-top: 12px;
      min-height: 140px;

      .order {
        &__table-add-btn {
          display: flex;
        }

        &__table-product-img {
          display: inline-block;
        }

        &__table-product-title {
          display: block;
        }
      }
    }

    &__table-column1 {
      width: auto;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 12px;
    }

    &__table-add-icon {
      &:after {
        left: -6px;
      }
    }

    &__table-add-btn {
      width: 36px;
      height: 36px;
      display: inline-flex;
    }

    &__table-column2 {
      width: 100%;
      align-items: flex-start;
      flex-direction: column-reverse;
    }

    &__table-product-img {
      margin-right: 0;
    }

    &__table-product-title {
      margin-bottom: 10px;
      line-height: 22px;
    }

    &__table-column-group {
      width: auto;
      display: block;
      position: absolute;
      top: 44px;
      left: 92px;
    }

    &__table-column3 {
      width: 100%;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;

      p {
        padding-right: 0;
        text-align: left;

        span:first-child {
          display: inline;
          margin-right: 6px;
        }
      }
    }

    &__table-column4 {
      width: 100%;
      display: flex;
      position: relative;
    }

    &__table-column4-content {
      position: static;

      span:first-child {
        display: inline;
        margin-right: 10px;
        color: $darkColor;
        font-weight: 300;
      }
    }

    &__table-product-size {
      font-size: 16px;
      line-height: 28px;
      margin-right: 3px;
    }

    &__table-product-sizes-wrapper {
      position: absolute;
      width: 146px;
      top: 0;
    }

    &__table-column5 {
      span:first-child {
        display: inline;
        margin-right: 6px;
      }
    }

    &__table-subrow.sizes-shown {
      padding-bottom: 0;
      min-height: 210px;

      .order {
        &__table-product-sizes-wrapper {
          left: 63px;
        }

        &__table-column5 {
          padding-top: 70px;
        }
      }
    }

    &__table-subrow.sizes-shown.error {
      padding-bottom: 0;
      min-height: 246px;

      .order {
        &__table-column4-content {
          span:first-child {
            color: $darkColor;
            font-weight: 300;
          }

          &:hover {
            span:first-child {
              color: $darkColor;
              font-weight: 300;
            }
          }
        }

        &__no_size-err {
          left: 63px;
          top: 88px;
          font-size: 14px;
          width: 100%;
        }

        &__table-column5 {
          padding-top: 106px;
        }
      }

      &.order__table-row-same {
        padding-bottom: 0;
      }
    }

    &__table-column5 {
      width: 100%;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      padding-left: 0;
    }

    &__table-column6 {
      width: auto;
      display: inline-block;
      position: absolute;
      bottom: 10px;
      right: 0;
    }

    &__table-bin-btn {
      width: 36px;
      height: 36px;
      display: inline-flex;
    }

    &__table-bin-img {
      height: 18px;
    }

    &__form {
      display: block;
      margin-bottom: 74px;
    }

    &__input-name {
      margin-right: 0;
      margin-bottom: 24px;
    }

    &__input-phone {
      margin-right: 0;
      margin-bottom: 24px;
    }

    &__input-label {
      font-size: 14px;
      margin-top: 4px;
    }

    &__form-btn {
      margin: 0 auto;
    }
  }
}

// max 575.9px
@media screen and (max-width: $xs) {
  .order {
    &__title {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 16px;
    }

    &__subtitle {
      margin-bottom: 0;
    }

    &__total-number {
      margin-bottom: 53px;
    }

    &__gift {
      padding: 67px 20px 10px 20px;
      margin-bottom: 23px;
    }

    &__gift-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    &__gift-text {
      font-size: 14px;
    }

    &__gift-img {
      width: 101px;
      left: 18px;
      top: -45px;
    }

    .main__button-wrapper.order__gift-button-wrapper {
      top: -50px;
      right: 18px;
      transform: translateY(0);
      width: 104px;
      height: 104px;
    }

    &__gift.won {
      padding: 67px 20px 5px 20px;

      .order {
        &__gift-title-won {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    &__total-promo {
      padding-top: 20px;
      margin-bottom: 6px;
    }

    &__total {
      margin-bottom: 14px;
    }

    &__empty-cart-err-wrapper {
      margin-bottom: 24px;
    }

    &__input-name {
      min-width: 100%;
    }

    &__input-phone {
      min-width: 100%;
    }

    &__form-btn {
      max-width: 100%;
      min-height: 60px;
    }
  }
}

// max 359.9px
@media screen and (max-width: $xxs) {
  .order {
    .container {
      padding: 0;
    }

    &__title {
      padding: 0 20px;
    }

    &__subtitle {
      padding: 0 20px;
    }

    &__table-row-same {
      min-height: 162px;
    }

    &__table-product-title {
      min-height: 44px;
    }

    &__table-column-group {
      top: 66px;
      left: 77px;
    }

    &__total-number {
      padding: 0 20px;

      span:first-child {
        margin-right: 5px;
      }
    }

    &__table-wrapper {
      padding: 0 20px;
    }

    &__total-promo {
      margin-left: 20px;
      margin-right: 20px;

      span:first-child {
        margin-right: 5px;
      }
    }

    &__empty-cart-err-wrapper {
      padding: 0 20px;
    }

    &__total {
      padding: 0 20px;

      span:first-child {
        margin-right: 5px;
      }
    }

    &__form {
      padding: 0 20px;
    }

    &__table-subrow.sizes-shown {
      min-height: 232px;
    }

    &__table-subrow.sizes-shown.error {
      min-height: 268px;
    }
  }
}

/********* ORDER END ***********/
