/*********** PROMOTION *************/
.promotion {
  margin-bottom: 101px;

  .container {
    padding: 0 102px;
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    max-width: 325px;
    margin-right: 57px;
  }

  &__title {
    color: $lightTextColor;
    font-family: $font-family;
    font-weight: 900;
    font-size: 47px;
    line-height: 50px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__terms {
    font-family: $font-family;
    font-weight: 900;
    font-size: 108px;
    line-height: 120px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__subtitle {
    margin-bottom: 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  &__note {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: $lightTextColor;
  }

  &__img-wrapper {
    //width: 590px;
    width: 59%;
    flex-shrink: 0;
    position: relative;
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  &__button-wrapper.main__button-wrapper {
    z-index: $promotionBtn;
    position: absolute;
    bottom: 30px;
    left: 0;
    transform: translateX(-50%);
  }
}

// max 991.9px
@media screen and (max-width: $lg) {
  .promotion {
    margin-bottom: 49px;

    .container {
      padding: 0 20px;
    }

    &__img-wrapper {
      width: 50%;
    }
  }
}

// max 767.9px
@media screen and (max-width: $md) {
  .promotion {
    &__title {
      font-size: 28px;
      line-height: 30px;
    }

    &__terms {
      font-size: 64px;
      line-height: 70px;
    }

    &__subtitle {
      margin-bottom: 20px;
    }
  }
}

// max 575.9px
@media screen and (max-width: $xs) {
  .promotion {
    .container {
      padding: 0;
    }

    &__content-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__content {
      order: 2;
      max-width: none;
      margin-right: 0;
      padding: 0 20px;
    }

    &__img-wrapper {
      flex-shrink: 1;
      order: 1;
      width: 100%;
      margin-bottom: 14px;
    }

    &__button-wrapper.main__button-wrapper {
      bottom: -40px;
      left: auto;
      right: 20px;
      transform: translateX(0);
    }
  }
}
/********* PROMOTION END ***********/