@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-ms-keyframes rotation {
  0% {
    -ms-transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(90deg);
  }
  50% {
    -ms-transform: rotate(180deg);
  }
  75% {
    -ms-transform: rotate(270deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(90deg);
  }
  50% {
    -o-transform: rotate(180deg);
  }
  75% {
    -o-transform: rotate(270deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}