.circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.circle text {
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

.circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 540px;
}

.circle g {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.circle svg {
  animation: rotate 10s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(-360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(-360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(-360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}